.portal-authors-link,
.portal-authors-link > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.portal-css-authors {
 font-family: Arial, Georgia, sans-serif;
 color:#333333;
}
 
  
