.registration-form input {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
.registration-form input[type=checkbox] {
  display: block;
  width: inherit;
}
.registration-form input[type=submit] {
  margin-top: 20px;
}
.registration-form label {
  font-size: 1.1em;
  margin: 20px 0 10px 0;
}
.registration-form h5,
h5.error {
  color: red;
  margin: 20px 0;
}
.registration-form .error {
  border-color: #ff0000;
}
#target-create {
  display: none;
}
div#target-create.error-present {
  display: block;
}
div#target-login-to-account.error-present {
  display: none;
}
