.registration-form input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
.registration-form input[type=submit] {
  margin-top: 20px;
}
.registration-form label {
  font-size: 1.1em;
  margin: 20px 0 10px 0;
}
.registration-form h5 {
  color: red;
  margin: 20px 0 0 0;
}
.registration-form .error {
  border-color: #ff0000;
}
#target-create-account {
  display: none;
}
